#div1 {

    float:left;
    width: calc(100% - 230px);
    background-color: yellow;
    padding: 15px;
    margin-bottom: 15px;
    clear: both;
    box-sizing: border-box;
    
   }
   
   #div2{

    float:left;
    width: 230px;
    padding: 15px;
    box-sizing: border-box;

   }