p{
    font-family: 'Tangerine', cursive;
    font-size: 38px;
   }

   .shadow1 {text-shadow: 3px 3px 2px
    rgba(152, 150, 207, 0.7);}
    .shadow2 {box-shadow: 10px 10px 14px 2px
    rgba(0,0,0,0.47);}
    .shadow3 {box-shadow: 5px 1px 4px 2px
    #45f875 inset;}
    .shadow4 {text-shadow: 3px 4px 0px grey,
    2px 2px 1px yellow;}
    
    .buttonexit {
        display: flex;
        height: 3em;
        width: 100px;
        align-items: center;
        justify-content: center;
        background-color: #eeeeee4b;
        border-radius: 3px;
        letter-spacing: 1px;
        transition: all 0.2s linear;
        cursor: pointer;
        border: none;
        background: #fff;
       }
       
       .buttonexit > svg {
        margin-right: 5px;
        margin-left: 5px;
        font-size: 20px;
        transition: all 0.4s ease-in;
       }
       
       .buttonexit:hover > svg {
        font-size: 1.2em;
        transform: translateX(-5px);
       }
       
       .buttonexit:hover {
        box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
        transform: translateY(-2px);
       }
    
       header{
        background-color: black;
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        height: 15%;
        
       }
    
       * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }