ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
   }
   ul.pagination li {display: inline;}
   ul.pagination li a {
    color: black;
    float: left;
    padding: 9px 18px;
    text-decoration: none;
   }
   ul.pagination li a.active {
    background-color: #4CAF50;
    color: white;
   }
   ul.pagination li a.active:hover
   {background-color: #397f3b;}
   ul.pagination li a:hover:not(.active)
   {background-color: #ddd;}

   ul.breadcrumb {
    padding: 8px 16px;
    list-style: none;
    background-color: #eee;
   }
   ul.breadcrumb li {display: inline;}
   ul.breadcrumb li+li::before {
    padding: 8px;
    color: black;
    content: "/\00a0";
   }
   ul.breadcrumb a:link, ul.breadcrumb
   a:visited {
    text-decoration:none;
    color: black;
   }
   ul.breadcrumb li a.active {
    color: #4CAF50;
    font-weight: bold;
   }
   ul.breadcrumb li a.active:hover {
    color: #397f3b;
    font-weight: bold;
   }

   .buttonexit {
    display: flex;
    height: 3em;
    width: 100px;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee4b;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    background: #fff;
   }
   
   .buttonexit > svg {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    transition: all 0.4s ease-in;
   }
   
   .buttonexit:hover > svg {
    font-size: 1.2em;
    transform: translateX(-5px);
   }
   
   .buttonexit:hover {
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);
   }

   header{
    background-color: black;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 15%;
    
   }

   * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
   