.btn {
    border: none;
    color: white;
    padding: 14px 28px;
    cursor: pointer;
    border-radius: 5px;}
   .primary {background-color: #007bff;}
   .primary:hover {background: #0b7dda;}
   .secondary {background-color: #e7e7e7;
   color: black;}
   .secondary:hover {background: #ddd;}
   .success {background-color: #04AA6D;}
   .success:hover {background-color:
   #46a049;}
   .warning {background-color: #ff9800;}
   .warning:hover {background: #e68a00;}
   .danger {background-color: #f44336;}
   .danger:hover {background: #da190b;}

   .buttonexit {
    display: flex;
    height: 3em;
    width: 100px;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee4b;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    background: #fff;
   }
   
   .buttonexit > svg {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    transition: all 0.4s ease-in;
   }
   
   .buttonexit:hover > svg {
    font-size: 1.2em;
    transform: translateX(-5px);
   }
   
   .buttonexit:hover {
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);
   }

   header{
    background-color: black;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 15%;
    
   }

   * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
   