.tooltip-container {
    position: relative;
    display: inline-block;}
   .tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: #000;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 125%; /* Posiciona el tooltip bajo del elemento
   */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;}
   .tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;}
   

    .buttonexit {
        display: flex;
        height: 3em;
        width: 100px;
        align-items: center;
        justify-content: center;
        background-color: #eeeeee4b;
        border-radius: 3px;
        letter-spacing: 1px;
        transition: all 0.2s linear;
        cursor: pointer;
        border: none;
        background: #fff;
       }
       
       .buttonexit > svg {
        margin-right: 5px;
        margin-left: 5px;
        font-size: 20px;
        transition: all 0.4s ease-in;
       }
       
       .buttonexit:hover > svg {
        font-size: 1.2em;
        transform: translateX(-5px);
       }
       
       .buttonexit:hover {
        box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
        transform: translateY(-2px);
       }
    
       header{
        background-color: black;
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        height: 15%;
        
       }
    
       * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }